repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: black
        name: Black
        description: This hook runs Black through uv
        entry: uv run black . --check
        language: system
        always_run: true
        pass_filenames: false
      - id: isort
        name: iSort
        description: This hook runs iSort through uv
        entry: uv run isort .
        language: system
        always_run: true
        pass_filenames: false
      - id: mypy
        name: MyPy
        description: This hook runs MyPy through uv
        entry: uv run mypy --strict .
        language: system
        always_run: true
        pass_filenames: false